/* .App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #faf5f5;
  }
  ::-webkit-scrollbar {display:none;}
  form {
    display: flex;
    flex-direction:column;
    align-items: center;
  }

  input,
  select {
    margin-bottom: 20px;
  }
.css-1t4vnk2-MuiDialogContent-root{
    padding-top: inherit;
    padding-left: inherit;
  } */

  .blocked-leave-date {
    color: green !important;
    font-size: 18px !important;
    text-decoration: line-through !important;
  }
  .blocked-schedule-date {
    color: red !important;
    font-size: 18px !important;
    text-decoration: line-through !important;
  }

/*
  MuiGrid-root {
    margin-top: 1px;
    margin-bottom: 80px;
  } */
